# exclude data from source control by default
/data/raw/
/data/external/
/data/interim/


# IPython NB Checkpoints
.ipynb_checkpoints/
/report/.ipynb_checkpoints/
/notebooks/.ipynb_checkpoints/

# Environment
.env
.DS_Store
